.nav {
	border: 1px solid #E6E6E6;
	display: block;
	color: #555;
	font-size: 30px;
	float:left;
	width: 100%;
	background-color: #294563;
}

.nav-brand {
    padding: 20px 10px;
    color: #fff;
	display: block;
	float: left;
	text-align: center;
}

.nav-tab {
	cursor: pointer;
    padding: 20px 10px;
    border-right: 1px solid #E6E6E6;
    color: #fff;
	display: block;
	float: left;
	text-align: center;
}

.container {
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.title {
	float: left;
	width: 100%;
	display: block;
	font-size: 17px;
	padding: 10px 0px 0px 0px;
}

.line {
	float: left;
	width: 100%;
	display: block;
	margin: 10px 0px;
	border-bottom: 1px solid #294563;
}

table {
  border-collapse: collapse;
  border: none;
}

td, th {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
}

.border {
    border: 1px solid #E6E6E6;
}

.table-header th {
    border-bottom: 1px solid #E6E6E6;
    color: #880055;
    padding: 10px 20px;
}

.table-title {
    border-bottom: 1px solid #E6E6E6;
    color: #880055;
}

.table-body td {
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 20px;
}

.text-right {
    text-align: right;
}

.node {
	display: block;
	margin-left: 20px;
	margin-right: auto;
	padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    border-bottom: 1px dotted #E6E6E6;
	cursor: pointer;
}

.child-node {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 50px;
}

.operator {
	cursor: pointer;
	color: #294563;
}